<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/admin.css">
	<title>Document</title>
</head>
<body>
	<section>
		<!--for demo wrap-->
		<h1>Fixed Table header</h1>
		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>Full Name</th>
						<th>Email</th>
						<th>Message</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbl-content">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<% for(let data of allData) { %> 
					<tr>
						<td><%= data.full_name %></td>
						<td><%= data.email %></td>
						<td><%= data.message %> </td>
					</tr>
					<% } %> 
				</tbody>
			</table>
		</div>
	</section>
	
	
	<!-- follow me template -->
	<div class="made-with-love">
		Made with
		<i>♥</i> by
		<a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
	</div>
</body>
</html>